body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #e1dfb9;
}

h2 {
    font-size: 1.1em;
    color: #800040;
    margin-top: 0;
}

#container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #f0f0f0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    padding: 0 10px;
    float: left;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    background: #f0f0f0;
    align-items: center;
    flex-shrink: 0;
}

#sidebar a {
    margin-top: 5px;
}

#content {
    /* margin-left: 400px; */
    /* padding: 10px; */
    background: #fff;
    display: flex;
    margin: auto;
    flex-shrink: 2;
    /* flex-grow: 0; */
    flex-wrap: wrap;
    justify-content: flex-start;
}

#blockNews {
    display: flex;
    height: 100%;
}

#news1 {
    display: flex;
    border: 1px solid #800040;
    text-align: center;
    margin: 20px 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    flex-direction: column;
    width: 25%;
    height: auto;
}

#big_new {
    display: flex;
    border: 1px solid #800040;
    text-align: center;
    margin: 20px 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    flex-direction: column;
}

#img {
    width: 250px;
    height: auto;
}

.big-picture {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}