body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #e1dfb9;
}

/* для хедэра и футера */
#header {
    font-size: 2.2em;
    /* Размер текста */
    text-align: center;
    /* Выравнивание по центру */
    padding: 5px;
    /* Отступы вокруг текста */
    background: #8fa09b;
    /* Цвет фона шапки */
    color: #ffe;
    /* Цвет текста */
}

#footer {
    background: #8fa09b;
    /* Цвет фона подвала */
    color: #fff;
    /* Цвет текста */
    padding: 5px;
    /* Отступы вокруг текста */
    clear: left;
    /* Отменяем действие float */
    /* margin-top: -15px; */
}

/* для основной страницы */
h2 {
    font-size: 1.1em;
    color: #800040;
    margin-top: 0;
}

h3 {
    font-size: 35px;
    color: #fff !important;
    text-shadow: 2px 2px 2px #000;
}

#container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #f0f0f0;
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-smol {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
}

.galery {
    display: block;
}

.smol-new {
    display: flex;
    border: 1px solid #800040;
    text-align: center;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    flex-direction: column;
    width: 300px;
    height: auto;
}

/* #sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    padding: 0 10px;
    float: left;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    background: #f0f0f0;
    align-items: center; 
    flex-shrink: 0;
}

#sidebar a {
    margin-top: 5px;
} */

.content {
    /* margin-left: 400px; */
    /* padding: 10px; */
    background: #fff;
    display: flex;
    flex-shrink: 2;
    /* flex-grow: 0; */
    flex-wrap: wrap;
    justify-content: flex-start;
}

#blockNews {
    display: flex;
    height: 100%;
}

/* .title {
    display: flex;
    border: 1px solid #800040;
    text-align: center;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    flex-direction: column;
    width: 300px;
    height: 350px;
} */

#big_new {
    display: flex;
    border: 1px solid #800040;
    text-align: center;
    margin: 20px 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    flex-direction: column;

}

img {
    width: 250px;
    height: auto;
}

.big-picture {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

/* слайдер */
/*!
* chiefSlider
*   site: https://itchief.ru/javascript/slider
*   github: https://github.com/itchief/ui-components
*
* Copyright 2018-2021 Alexander Maltsev
* Licensed under MIT (https://github.com/itchief/ui-components/blob/master/LICENSE)
*/
.slider {
    width: 1684px;
    position: relative
}

.slider__container {
    overflow: hidden
}

.slider__items {
    display: flex;
    transition: transform .5s ease;
    justify-content: space-between;
}

.slider_disable-transition {
    transition: none
}

.slider__item {
    display: flex;
    flex: 1 0 33.3333333333%;
    max-width: 33.3333333333%;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .2)
}

.slider__control_hide {
    display: none
}

.slider__control[data-slide=prev] {
    left: 0
}

.slider__control[data-slide=next] {
    right: 0
}

.slider__control:focus,
.slider__control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background: rgba(0, 0, 0, .3)
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.slider__control[data-slide=prev]::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.slider__control[data-slide=next]::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent
}

.slider__indicators li.active {
    background-color: rgba(255, 255, 255, .9)
}